.menu {
  background: #212d55;
  color: white;
  position: absolute;
  width: 50%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.header__list_menu {
  flex-direction: column;
  align-items: flex-end;
}

.header__call_menu {
  flex-direction: column;
  align-items: flex-end;
  padding-right: 32px;
}

.header__item_menu {
  padding-right: 32px;
}
