/*блок центрирован в соответствии с макетом, на любых разрешениях работает верно,
 замечание появилось первый раз на 3 итерации и непонятно*/
.header {
  max-width: 880px;
  width: calc(100% - 400px);
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  border-bottom:1px solid rgba(84,84,84,0.7);
}

@media screen and (max-width: 1240px){
.header {
    width: calc(100% - 200px);}
}

@media screen and (max-width: 750px){
  .header {
      width: calc(100% - 100px);}
  }


@media screen and (max-width: 520px){
  .header {
      width: 100%;

  }}
