.header {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 300px);
  margin: 0 auto 12px auto;
  position: relative;
  max-width: 1440px;
}

@media screen and (max-width: 1200px) {
  .header {
    width: calc(100%-60px);
  }
}

.header__logo {
  height: 94px;
  width: 190px;
  display: flex;
}

@media screen and (max-width: 528px) {
  .header__logo {
    height: 79px;
    width: 148px;
  }
}

.header__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
}

.header__link {
  padding-right: 32px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  list-style-type: none;
}

.header__link:last-of-type {
  padding-right: 0;
}

.header__link:hover {
  color: #31bef4;
}

.header__description {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.header__number {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 7px 0;
  padding: 0;
}
.header__call {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__menu {
  display: none;
}

.header__menu_open {
  display: flex;
}
.header__hidden {
  display: flex;
}
@media screen and (max-width: 550px) {
  .header__hidden {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .header__list {
    display: none;
  }
  .header__call {
    display: none;
  }
  .header__menu {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  .header__button {
    margin-left: 10px;
    background-color: transparent;
    border: none;
  }
}
